<ion-view view-title="Developer Settings">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
        
        <button data-badge="{{$root.alarmCount}}" class="animated infinite tada button button-icon button-clear ion-ios-bell notification-badge" ng-click="handleAlarms();" ng-if="$root.isAlarm"></button>
        
    </ion-nav-buttons>


    <ion-content class="padding">
        <div class="list list-inset">
            <span style="color:rgb(100,100,100)">
                <i class="ion-android-settings" style="font-size:150%"></i> Developer Options
            </span>

             <div class="item item-input-inset">
                frame update (seconds)&nbsp;
                <label class="item-input-wrapper">
                    <input type="tel" placeholder="min is 1s" ng-model="loginData.refreshSec">
                </label>
            </div>
            
            <div class="item item-input-inset">
                Max Monitors in Montage&nbsp;
                <label class="item-input-wrapper">
                    <input type="tel" placeholder="be careful" ng-model="loginData.maxMontage">
                </label>
            </div>

            <div class="item item-input-inset">
                Max FPS for streaming&nbsp;
                <label class="item-input-wrapper">
                    <input type="tel" placeholder="max is 30" ng-model="loginData.maxFPS">
                </label>
            </div>

            <div class="item item-input-inset">
                Montage Streaming Quality(%)&nbsp;
                <label class="item-input-wrapper">
                    <input type="tel" placeholder="max is 70" ng-model="loginData.montageQuality">
                </label>
            </div>
            
            <label>
            <ion-toggle ng-model="loginData.enableDebug"
                        ng-checked="{{loginData.enableDebug}}"
                        toggle-class="toggle-calm">Enable Debug Logs</ion-toggle>
            </label>

            <button class="button button-block button-balanced icon ion-locked"
                    ng-click="saveDevOptions()"> Save
            </button>
        </div>
    </ion-content>
</ion-view>
