<ion-view view-title="Developer Settings">

    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>


    <ion-content class="padding">
        <div class="list list-inset">

            <span style="color:rgb(100,100,100)"><i class="ion-android-settings" style="font-size:150%"></i> Developer Options</span>

            <!-- <ion-toggle ng-model="loginData.simulationMode" ng-checked={{loginData.simulationMode}} toggle-class="toggle-energized">Simulation Mode</ion-toggle>-->

            <div class="item item-input-inset">

                Max Monitors in Montage&nbsp;
                <label class="item-input-wrapper">
                    <input type="tel" placeholder="be careful" ng-model="loginData.maxMontage">
                </label>

            </div>

            <div class="item item-input-inset">

                Max FPS for streaming&nbsp;
                <label class="item-input-wrapper">
                    <input type="tel" placeholder="max is 30" ng-model="loginData.maxFPS">
                </label>

            </div>



            <button class="button button-block button-balanced icon ion-locked" ng-click="saveDevOptions()"> Save</button>


    </ion-content>
</ion-view>
