<ion-view view-title="Monitor Event Summary" cache-view="false">

    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>

    <!-- I'm calling the same controller function but with different parameters when
            you switch between tabs -->
    <ion-tabs class="tabs-icon-top tabs-stable">
        <ion-tab title="All" icon="ion-stats-bars" on-select="generateChart('All Events')">
            <ion-nav-view>
                <ion-content class="has-header">

                    <div google-chart chart="chartObject"></div>


                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="Last Hour" icon="ion-stats-bars" on-select="generateChart('Events in the last hour')">
            <ion-nav-view>

                <ion-content>
                    <span></span>
                    <div google-chart chart="chartObject"></div>


                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="Day" icon="ion-stats-bars" on-select="generateChart('Events in the last day')">
            <ion-nav-view>

                <ion-content>
                    <span></span>
                    <div google-chart chart="chartObject"></div>


                </ion-content>
            </ion-nav-view>
        </ion-tab>
        <ion-tab title="Week" icon="ion-stats-bars" on-select="generateChart('Events in the last week')">
            <ion-nav-view>

                <ion-content>
                    <span></span>
                    <div google-chart chart="chartObject"></div>


                </ion-content>
            </ion-nav-view>
        </ion-tab>

    </ion-tabs>

    <!--



    <ion-content>
        <ion-slide-box>
            <ion-slide-pager> </ion-slide-pager>
            <ion-slide>
                <canvas tc-chartjs chart-type="bar" chart-options="options" chart-data="data" auto-legend></canvas>
                Slide 1
            </ion-slide>
            <ion-slide>
                <div class="box blue">
                    <h1>BLUE</h1>
                </div>
            </ion-slide>
            <ion-slide>
                Slide 3
            </ion-slide>

        </ion-slide-box>
    </ion-content>
-->


</ion-view>
