<ion-modal-view cache="false">

    <!-- <ion-header-bar>
        <h1 class="title">
            <span style="float:left">
                <button class="button  button-clear icon icon-left ion-close" ng-click="closeModal()" >Close</button>
            </span>
            <span style="float:right">
                {{eventName}} (Duration:{{eventDur}}s)
            </span>
        </h1>
    </ion-header-bar> -->
    <ion-content>

        <!-- replay can also be gapless -->
        <div ng-if="!isSimulated()">
            <ion-scroll has-bouncing=false min-zoom=1 zooming="true" direction="xy" style="width: 100%; ">
                <img ng-src="{{loginData.url}}/cgi-bin/zms?source=event&mode=jpeg&event={{eventId}}&frame=1&maxfps=5&replay=single&user={{loginData.username}}&pass={{loginData.password}}&connkey={{connKey}}&rand={{rand}}" width="100%" />
            </ion-scroll>


        </div>

        <div ng-if="isSimulated()">
            <ion-scroll has-bouncing=false min-zoom=1 zooming="true" direction="xy" style="width: 100%; ">
                <img ng-src="img/demo.gif" width="100%">
            </ion-scroll>

        </div>

    </ion-content>
    <nav mfb-menu position="br" effect="zoomin" label="collapse" active-icon="ion-chevron-down" resting-icon="ion-chevron-up" toggling-method="click">
        <button mfb-button icon="ion-close" label="close" ng-click="closeModal()"></button>


        <a mfb-button icon="ion-skip-backward" label="previous" ng-click="controlEventStream(eventCommands.previous)"></a>


        <a mfb-button icon="ion-skip-forward" label="next" ng-click="controlEventStream(eventCommands.next)"></a>



    </nav>

    <nav mfb-menu position="bl" effect="zoomin" label="collapse" active-icon="ion-chevron-down" resting-icon="ion-chevron-up" toggling-method="click">
        <a mfb-button icon="ion-refresh" label="refresh" ng-click="reloadView()"></a>

        <a mfb-button icon="ion-pause" label="pause" ng-click="controlEventStream(eventCommands.pause)"></a>

        <a mfb-button icon="ion-play" label="play" ng-click="controlEventStream(eventCommands.play)"></a>
    </nav>

</ion-modal-view>
