<ion-popover-view class="fit">
        <ion-content>
          <div class="list" ng-click="popover.hide()">
            <a class="item" ng-href="" ng-click="popover.hide();$state.go('events-date-time-filter');">Filter by Date/Time</a>

            <!-- <a class="item" ng-href="" ng-click=" popover.hide();$state.go('events-graphs');" >
              Event Graphs
            </a>-->
            <a class="item" ng-href="" ng-click="popover.hide();doRefresh();">
              Refresh
            </a>
            
            <a class="item" ng-href="" ng-click="popover.hide();toggleMinAlarmFrameCount();" ng-if="loginData.enableAlarmCount">Show all events</a>
             <a class="item" ng-href="" ng-click="popover.hide();toggleMinAlarmFrameCount();" ng-if="!loginData.enableAlarmCount"> Show alarmed events</a>
          </div>
        </ion-content>
      </ion-popover-view>

