<ion-view view-title="" cache-view="false">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon"
                ng-click="openMenu()">
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a style="" class="button button-icon icon ion-stats-bars"
           ng-href="#events-graphs"> </a>
        <a style="" class="button button-icon icon ion-refresh" ng-href=""
           ng-click="doRefresh();"> </a>
        <a style="" class="button button-icon icon ion-search" ng-href=""
           ng-click="searchClicked();"> </a>
    </ion-nav-buttons>

    <div ng-if="showSearch">
        <ion-header-bar class="bar bar-subheader item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="Search"
                       ng-model="search.text" autocorrect="off" autocomplete="off">
            </label>
        </ion-header-bar>
    </div>


    <ion-content on-tap="tapped();" delegate-handle="mainScroll">
        <ion-refresher
                       pulling-text="Tap the <i class='ion-refresh'></i> icon above to reload ..."
                       spinner="bubbles" on-refresh="dummyDoRefresh();">
        </ion-refresher>

        <div ng-repeat="event in events| filter:search.text" >
        <ion-item id="item-{{$index}}" ng-click="toggleGroup(event,$index,event.Event.Frames)"
                    ng-class="{active: isGroupShown(event)}">
              <i class="icon button-icon" ng-class="isGroupShown(event) ? 'ion-android-arrow-dropup-circle' : 'ion-android-arrow-dropdown-circle'"></i>

            <div class="row">
                <div class="col col-left">
                    <!-- this ngswitch displays different icons
                                depending on the cause of the event -->

                    <div ng-switch on="event.Event.Cause">
                        <div ng-switch-when="Motion">

                            <i class="ion-android-walk" style="float:left; font-size:200%;"></i>

                            <br/>
                        </div>
                        <div ng-switch-when="Signal">
                            <i class="ion-wifi" style="float:left; font-size:200%;"></i>
                            <br/>
                        </div>
                        <div ng-switch-default>
                            <i class="ion-ionic" style="float:left; font-size:200%;"></i>
                            <br/>
                        </div>
                    </div>
                    <!-- ng switch -->
                    <!-- {{event.Event.Cause}} -->

                    <br/>
                    <span style="font-size:80%; color:rgb(110,110,110)">
                        {{event.Event.Length}}s
                    </span>
                </div>
                <!-- col col left-->
                <div class="col col-80">
                    <div class="item-text-wrap">
                        <i class="ion-monitor"></i>
                        <b>{{event.Event.MonitorName}}</b> ({{event.Event.Name}})
                    </div>

                    <i class="ion-images"></i> {{event.Event.Frames}} &nbsp;
                    <i class="ion-ios-bell-outline"></i> {{event.Event.AlarmFrames}} &nbsp;
                    <i class="ion-arrow-graph-up-right"></i> {{event.Event.TotScore}}
                </div>
            </div>
            <!--row-->

            <div class="row" style="font-size:80%; color:rgb(110,110,110)">
                <div class="item-text-wrap"><i class="ion-calendar"></i>&nbsp;
                    {{prettify(event.Event.StartTime)}}
                    <br/>
                    <i class="ion-clipboard"></i>&nbsp; {{event.Event.Notes}}
                    <br/>
                </div>
            </div>
            <span style="float:right">
                <button class="button button-small icon icon-left ion-ios-eye"
                        ng-click="openModal(event.Event.Id, event.Event.Name, event.Event.Length,event.Event.Frames)" > View Footage
                </button>
                <!--
                <button class="button button-small icon icon-left ion-ios-eye"
                        ng-click="openModalForScrub(event.Event.Id, event.Event.Name, event.Event.Length,event.Event.Frames,event.Event.BasePath)" > Scrub Footage
                </button>-->
                <!-- <br/>Path: {{event.Event.BasePath}}-->
</span>
        </ion-item>

        <div ng-if = "isGroupShown(event)">
        <ion-item class="item-accordion">


                 <div class="range">

                 <input type="range"  ng-model="ionRange.index" min="0"  max="{{event.Event.Frames-1}}">
            </div>
             <p>Frame {{mycarousel.index+1}} of {{event.Event.Frames}}</p>
            <ul rn-carousel  rn-carousel-buffered   rn-carousel-transition="none" rn-swipe-disabled="true" rn-carousel-index="mycarousel.index" rn-carousel-auto-slide="0.3" rn-carousel-pause-on-hover >

                <li ng-repeat="slide in slides">
                        <img imageonload="finishedLoadingImage($index)"
                         ng-src="{{event.Event.BasePath}}{{slide.img}}?rand={{rand}}" height="190px";/>

                </li>
            </ul>


           <!-- <ion-scroll direction="x">
            <div style="float:left;display:block;">-->
           <!--
           <ion-slide-box nav-clear delegate-handle="eventSlideBox" does-continue="true" slide-interval="500" show-pager="false" auto-play="true" ng-init="disableSlide()" >
            <ion-slide nav-clear ng-repeat="file in files" >
           <img imageonload="finishedLoadingImage()"
                         ng-src="{{event.Event.BasePath}}{{file}}?rand={{rand}}" height="190px";/>
            </ion-slide>


            </ion-slide-box> -->


            <!-- </div>
            </ion-scroll>-->
          </ion-item>
            </div>

        </div>

        <ion-item ng-show="!events.length">
        No events to display.
        </ion-item>


        <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" icon="ion-loading-c" on-infinite="loadMore()" distance="2%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
