    <div ng-controller="EventModalCtrl">
    <!-- style="width: 90%; height: 90%; top: 5%; left: 5%; right: 5%; bottom: 5%;"-->
    <ion-modal-view cache-view="false">
        <ion-content style="background-color:#444444" ng-cloak>

            <ion-scroll has-bouncing=false min-zoom=1 zooming="true" direction="xy" style="width: 100%; " delegate-handle="imgscroll" on-swipe-left="onSwipeEvent(nextId,1)"
                                         on-swipe-right="onSwipeEvent(prevId,-1)">
                <div  id="full-screen-event" style="height: 100vh;">


                    <div ng-if="(defaultVideo=='' || loginData.enableh264==false) && !loginData.useNphZmsForEvents">
                        
                        
                        <ul rn-carousel  rn-carousel-transition="none" rn-swipe-disabled="true" rn-carousel-index="mycarousel.index" rn-carousel-auto-slide="{{eventSpeed}}" rn-carousel-pause-on-hover  rn-platform="{{$root.platformOS}}" rn-carousel-buffered >


                            <li ng-repeat="slide in slides">
                                <div ng-if="!animationInProgress">
                                    <img  style="width:100vw; height:100vh" imageonload="finishedLoadingImage($index)" 
                                         image-spinner-src="{{playbackURL}}/index.php?view=image&rand={{$root.rand}}&path={{relativePath}}{{slide.img}}&scale={{loginData.singleImageQuality}}{{$root.authSession}}" 
                                         image-spinner-loader="lines" 
                                         ng-class="{'object-fit_cover':imageFit==false, 'object-fit_contain':imageFit==true}" 
                                         
                                         />
                                </div>
                                <div ng-if="animationInProgress">
                                    <img   style="width:100vw; height:100vh" imageonload="finishedLoadingImage($index)" 
                                         image-spinner-src="img/pausevideo.png" 
                                         image-spinner-loader="lines" 
                                         class="object-fit_contain"  />
                                </div>
                                

                                

                            </li>
                        </ul>
                    </div>
                    
                    <!-- route via ZMS -->
                    
                    <div ng-if="( (defaultVideo=='') || (loginData.enableh264==false)) && (loginData.useNphZmsForEvents==true)">
                       
                        <!--<div style="color:white">connkey:{{connKey}}</div>-->
                        <div style="width:100vw; height:100vh" >
                          <img  ng-click="togglePause()" image-spinner-src="{{loginData.streamingurl}}/nph-zms?source=event&mode=jpeg&event={{eventId}}&frame=1&replay={{currentStreamMode}}&rate=100&connkey={{connKey}}&scale={{singleImageQuality}}{{$root.authSession}}" ng-class="{'object-fit_cover':imageFit==false, 'object-fit_contain':imageFit==true}"/>
                          
                            <div  ng-if="isPaused" style="position:absolute; top:50%; left:50%;white-space:nowrap;overflow:hidden;z-index:999"
                             class="header-paused">
                            &nbsp;<i class="ion-pause"></i>
                               paused&nbsp;
                            </div>
                            
                        </div>
                        
                        
                    </div>
                    
                    <!-- no default video -->
                 
                    <div ng-if="defaultVideo!==undefined && defaultVideo!='' && loginData.enableh264 == true">
                        <div>
                            <videogular vg-theme="videoObject.config.theme" vg-complete="playbackFinished()">
                                     <vg-controls>
                                            <vg-play-pause-button></vg-play-pause-button>
                                            <vg-scrub-bar>
                                                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                            </vg-scrub-bar>
                                            <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                                            <vg-fullscreen-button></vg-fullscreen-button>
                                            <vg-volume>
                                                <vg-mute-button></vg-mute-button>
                                            </vg-volume>
                                        </vg-controls>
                                <vg-media vg-src="videoObject.config.sources" vg-native-controls="false">
                                </vg-media>
                            </videogular>
                        </div>
                      
                    </div>
                    

                </div>
                <!-- 100vh -->
            </ion-scroll>

          

        </ion-content>


        <!-- <div class="range">
        <input type="range"  ng-model="ionRange.index" min="0"  max="{{eFramesNum-1}}" >
      </div>-->


</ion-modal-view>


<nav  mfb-menu position="tr" effect="zoomin" label="collapse" active-icon="ion-chevron-up" resting-icon="ion-chevron-down" toggling-method="click">

    <a mfb-button icon="ion-arrow-right-c" label="next event" ng-click="jumpToEvent(nextId,1);"></a>
    <a mfb-button icon="ion-arrow-left-c" label="prev. event" ng-click="jumpToEvent(prevId,-1);"></a>
    <a mfb-button icon="ion-arrow-resize" label="{{imageFit?'fill screen':'fit screen'}}" ng-click="scaleImage();"></a>
    
    <a mfb-button icon="ion-close" label="exit event view" ng-click="closeModal()"> </a>

</nav>
    
    
<nav ng-if="!loginData.useNphZmsForEvents" mfb-menu position="br" effect="zoomin" label="collapse" active-icon="ion-chevron-down" resting-icon="ion-chevron-up" toggling-method="click">

    <a  mfb-button icon="icon-super-speed" label="super speed" ng-click="adjustSpeed('super');"></a>
    <a  mfb-button icon="icon-normal-speed" label="normal speed" ng-click="adjustSpeed('normal');"></a>
    <a mfb-button icon="icon-faster" label="faster" ng-click="adjustSpeed('faster');"></a>
    
    <a mfb-button icon="icon-slower" label="slower" ng-click="adjustSpeed('slower');"> </a>

</nav>
        
        
<nav ng-if="loginData.useNphZmsForEvents" mfb-menu position="br" effect="zoomin" label="collapse" active-icon="ion-chevron-down" resting-icon="ion-chevron-up" toggling-method="click">

    
    <a  mfb-button icon="ion-skip-backward" label="fast rewind" ng-click="adjustSpeed('fr');"></a>
    <a  mfb-button icon="ion-skip-forward" label="fast forward" ng-click="adjustSpeed('ff');"></a>
    <a mfb-button icon="ion-play" label="normal play" ng-click="adjustSpeed('np');"></a>
    
    <a mfb-button icon="ion-pause" label="pause" ng-click="adjustSpeed('p');"> </a>

</nav>
    

<div class="events-range-modal" ng-if="(defaultVideo=='' )&& (!loginData.useNphZmsForEvents)">

    <div style="width:90%">
        <input ng-model="ionRange.index" type="text" id="mySlider2" slider options="slider_modal_options" />
    </div>


</div>
        


<div class="events-range-modal-text" >showing event: {{d_eventId}}</div>

<span class="event-modal-alarm-badge">
            <a data-badge="{{$root.alarmCount}}" class="animated infinite tada button icon  ion-ios-bell notification-badge button-assertive button-small" 
                    ng-click="handleAlarms();" ng-if="$root.isAlarm" ></a>
</span>


<span class="events-modal-gapless-icon">
        <a ng-class="loginData.gapless? 'button button-small button-stable' : 'button button-small button-assertive' " href="" ng-click="toggleGapless()">gapless: {{loginData.gapless?"on":"off"}}</a>
</span>
    
 <span class="events-modal-camera-icon" ng-if="defaultVideo==''">
        <a class="button button-small icon ion-ios-camera button-positive" href="" ng-click="saveEventImageToPhone()"></a>
</span>

<!--
    <nav mfb-menu position="bl" effect="zoomin" label="collapse"
         active-icon="ion-chevron-down" resting-icon="ion-chevron-up" toggling-method="click">
        <a mfb-button icon="ion-refresh" label="refresh" ng-click="reloadView()"></a>
        <a mfb-button icon="ion-pause" label="pause"
           ng-click="controlEventStream(eventCommands.pause)"></a>
        <a mfb-button icon="ion-play" label="play"
           ng-click="controlEventStream(eventCommands.play)"></a>
    </nav>


    <nav mfb-menu position="tr" effect="zoomin" label="collapse"
         active-icon="ion-chevron-up" resting-icon="ion-chevron-down"
         toggling-method="click">
        <a mfb-button icon="ion-ios-fastforward" label="fast forward"
           ng-click="controlEventStream(eventCommands.fastFwd)"></a>
        <a mfb-button icon="ion-ios-fastforward-outline" label="slow forward"
           ng-click="controlEventStream(eventCommands.slowFwd)"></a>
        <a mfb-button icon="ion-ios-rewind" label="fast rewind"
           ng-click="controlEventStream(eventCommands.fastRev)"></a>
        <a mfb-button icon="ion-ios-rewind-outline" label="slow rewind"
           ng-click="controlEventStream(eventCommands.slowRev)"></a>
    </nav>

    <progress max="{{totalEventTime}}" value="{{currentEventTime}}"
              class="eventprogress"></progress>
-->
        
        <div class="events-range-modal" ng-if="(defaultVideo=='' )&& (loginData.useNphZmsForEvents)" style="color:white">
   <!-- Progress: Event: {{eventId}} - {{progressText}}-->
    <div class="row">
        <div class="col col-75">
            <progress style="line-height:20px" max="{{currentEventDuration}}" value="{{currentProgress}}"></progress>
        </div>
        <div class="col col-25" style="line-height:40px">
            @{{currentRate}}x
        </div>
    </div>
</div>
</div>