<ion-view view-title="Monitor Event Summary" cache-view="false">

  <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
        </ion-nav-buttons>
        <ion-tabs class="tabs-icon-top tabs-stable">
            <ion-tab title="Events" icon="ion-stats-bars">
                <ion-nav-view>
                    <ion-content class="has-header">

                        <div google-chart chart="chartObject"></div>


                        </ion-content>
                </ion-nav-view>
            </ion-tab>

            <ion-tab title="About" icon="ion-gear-a" on-select="anotherChart()">
                <ion-nav-view>

                    <ion-content>
                        <span></span>
                            <div google-chart chart="chart2Object"></div>
                       This is 2-2

                    </ion-content>
                </ion-nav-view>
            </ion-tab>

            <ion-tab title="Settings" icon="ion-ios-information">
                <ion-content>

                    Tab 3
                </ion-content>
            </ion-tab>
        </ion-tabs>

        <!--



    <ion-content>
        <ion-slide-box>
            <ion-slide-pager> </ion-slide-pager>
            <ion-slide>
                <canvas tc-chartjs chart-type="bar" chart-options="options" chart-data="data" auto-legend></canvas>
                Slide 1
            </ion-slide>
            <ion-slide>
                <div class="box blue">
                    <h1>BLUE</h1>
                </div>
            </ion-slide>
            <ion-slide>
                Slide 3
            </ion-slide>

        </ion-slide-box>
    </ion-content>
-->


</ion-view>
