<ion-view view-title="zmNinja" hide-nav-bar="true" hide-back-button="true" cache-view="false">
    <ion-content class="pin-background">
        <div style="margin-left:20px; margin-right:20px">
            <center>
                <br/>
                <br/>
                <div id="responsive-image">
                    <img src="img/authlogo.png">
                </div>


                <br/>
                <span style="color:white">
                    <h2 style="color:white" >Hi There!</h2>
                    <br/>
                    <h4 style="color:white">Thanks for using zmNinja. <br/><br/>
                    I need to know your ZoneMinder login and path details to get started.</h4>
                    <br/>
                    
                    </span>
                <br/>
                <button id="firstuse" class="button button-stable animated bounceInUp" ng-click="goToLogin()">
                    Let's Get Started!
                </button>

        </div>
        </center>
        </div>

    </ion-content>
</ion-view>