<ion-view view-title="Help">

    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>

        <button data-badge="{{$root.alarmCount}}" class="animated infinite tada button button-icon button-clear ion-ios-bell notification-badge" ng-click="handleAlarms();" ng-if="$root.isAlarm"></button>

    </ion-nav-buttons>


    <ion-content class="padding" overflow-scroll="false" ng-cloak>
       
        <p><small>{{$root.appName}} v{{zmAppVersion}}</small></p>
        <div class="list">

                     <div id="insertHelp"></div>
        </div>

    </ion-content>

</ion-view> 