<ion-view view-title="{{logEntity}} {{'kLogs' | translate}}">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>

    &nbsp;
    <button ng-class="selectOn? 'button button-icon button-clear ion-ios-copy':'button button-icon button-clear ion-ios-copy-outline'"
      ng-click="selectToggle()"></button> &nbsp;


     

    <button data-badge="{{$root.alarmCount}}" class="animated infinite tada button button-icon button-clear ion-ios-bell notification-badge"
      ng-click="handleAlarms();" ng-if="$root.isAlarm"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-arrow-swap" ng-href="" ng-click="flipLogs()"></a>
    <a ng-if="logEntity == $root.appName" class="button button-icon icon ion-trash-a" ng-href="" ng-click="deleteLogs()"></a>
    <div ng-if="$root.platformOS!='desktop'">
      <a class="button button-icon icon ion-email" ng-href="" ng-click="attachLogs()"> </a>
    </div>
    <div ng-if="$root.platformOS=='desktop'">
      <a class="button button-icon icon ion-android-download" ng-href="" ng-click="downloadLogs()"> </a>
    </div>
  </ion-nav-buttons>
  <ion-content delegate-handle="none" overflow-scroll="false" mouse-wheel-scroll class="notch-ready">

    <!-- <h2> iCloud: </h2>
    {{cloudString}}

    <br/>-->

    <div ng-if="logEntity=='ZoneMinder'">

      <button class="button button-small button-stable icon ion-chevron-left" ng-click="changePage(1)">
      </button>
      <button class="button button-small button-stable icon ion-chevron-right" ng-click="changePage(-1)">
      </button><br/>
      <b>ZoneMinder {{'kVersion'|translate}}: {{zmVersion}} </b><br/>

    </div>

    <div ng-if="logEntity==$root.appName">
      <b>{{$root.appName}} {{'kVersion'|translate}}: {{zmAppVersion}} ({{$root.platformOS}})</b><br/>
      <b>ZoneMinder {{'kVersion'|translate}}: {{zmVersion}} </b>
    </div>

    <div ng-if="selectOn" class="aside-1">{{'kLogsCopyPaste' | translate }}</div>
    <div ng-if="logEntity!=$root.appName">
      <b>ZoneMinder</b>
    </div>


    <br />
    <!-- don't indent here its a pre-->
    <pre class="selectable" data-tap-disabled="{{selectOn}}">{{log.logString}}</pre>
  </ion-content>
