<ion-view view-title="Logs">

    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-trash-a" ng-href="" ng-click="deleteLogs()"></a>
        <a style="" class="button button-icon icon ion-email" ng-href="" ng-click="sendEmail(zmLog.logString)" > </a>
    </ion-nav-buttons>

    <ion-content class="padding">
        <b>zmNinja Version: {{zmAppVersion}}</b><br/>
        <!-- don't indent here -- its a pre-->
        <pre>{{zmLog.logString}}</pre>

    </ion-content>
