<ion-view view-title="Settings">

    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>

    <ion-content padding="true" >
        <div class="list list-inset">
            <span style="color:rgb(100,100,100)">
                <i class="ion-android-home" style="font-size:150%"></i>
                ZoneMinder Settings
            </span>
            
            <div class="item">
            <ion-checkbox ng-model="auth.isUseAuth">use authentication</ion-checkbox>
            
            <div ng-if = "auth.isUseAuth" >
                
                <label class="item item-input item-floating-label" >
                    <span class="input-label">username</span>
                    <input autocapitalize="none" autocomplete="off"
                           autocorrect="off" type="text"
                           placeholder="username"
                           ng-model="loginData.username">
                </label>

                <label class="item item-input item-floating-label" >
                    <span class="input-label">password</span>
                    <input type="password" placeholder="password"
                           ng-model="loginData.password">
                </label>
            </div>
                
                </div>
            <label class="item item-input item-floating-label" >
                <span class="input-label">ZM portal url</span>
                <input autocapitalize="none" autocomplete="off"
                       autocorrect="off" type="text"
                       placeholder="ZM portal url "
                       ng-model="loginData.url" ng-keyup="portalKeypress($event)">
            </label>

            <label class="item item-input item-floating-label" >
                <span class="input-label">base path to cgi-bin</span>
                <input autocapitalize="none" autocomplete="off"
                       autocorrect="off" type="text"
                       placeholder="base path to cgi-bin"
                       ng-model="loginData.streamingurl">
            </label>

            <label class="item item-input item-floating-label" >
                <span class="input-label">ZM api url</span>
                <input autocapitalize="none"
                       autocomplete="off" autocorrect="off"
                       type="text" placeholder="ZM api url"
                       ng-model="loginData.apiurl">
            </label>

            <label>
            <ion-toggle ng-model="loginData.usePin" ng-change="pinPrompt();"
                        ng-checked="{{loginData.usePin}}"
                        toggle-class="toggle-calm">Password protect</ion-toggle>
            </label>
            
            <label>
            <ion-toggle ng-model="loginData.useSSL"
                        ng-checked="{{loginData.useSSL}}"
                        toggle-class="toggle-calm">Use SSL</ion-toggle>
            </label>

             <label>

            <ion-toggle ng-model="loginData.keepAwake"
                        ng-checked="{{loginData.keepAwake}}"
                        toggle-class="toggle-calm">Keep display on<p>(When viewing footage)</p>
            </ion-toggle>
            </label>
        </div>
        <button class="button button-block button-balanced icon ion-locked"
                    ng-click="save()"> Save
        </button>

    </ion-content>
</ion-view>
