<ion-view view-title="{{$root.appName}}" hide-nav-bar="true" hide-back-button="true" cache-view="false">
  <ion-content class="pin-background notch-ready">
    <div style="margin-left:20px; margin-right:20px">
      <center>
        <br />
        <br />
        <div id="responsive-image">
          <img src="img/authlogo.png">
        </div>
        <br />
        <span style="color:white">
          <h2 style="color:white" class="animated bounce">{{'kZMUpgradeNeeded' | translate}}</h2>
          <br />
          <h4 style="color:white">{{'kVersionIncompatible' | translate }}</h4>
          <br /> {{'kReportedVersion' | translate}}:
          <b>{{currentVersion}}</b>
          <br /> {{'kMinVersion' | translate}}:
          <b>{{requiredVersion}}</b>
          <br />


        </span>
        <br />
      </center>
    </div>
  </ion-content>
</ion-view>
