<ion-view view-title="zmNinja" hide-nav-bar="true" hide-back-button="true" cache-view="false">
    <!--<ion-view view-title="zmNinja" hide-nav-bar="false" hide-back-button="true" cache-view="false">-->
    <ion-content class="pin-background">
        <div style="margin-left:20px; margin-right:20px">
            <center>
                <br/>
                <br/>
                <div id="responsive-image">
                    <img src="img/authlogo.png">
                </div>


                <br/>
                <span style="color:white">
                    <h2 style="color:white" class="animated bounce">ZoneMinder upgrade needed</h2>
                    <br/>
                    <h4 style="color:white">I am incompatible with your ZoneMinder version</h4>
                    <br/>
                    Reported Version: <b>{{currentVersion}}</b><br/>
                    Minimum Required Version:<b>{{requiredVersion}}</b><br/>
                    
                    
                    </span>
                <br/>


            </center>
        </div>

    </ion-content>
</ion-view>