<ion-popover-view class="fit">
  <ion-content class="notch-ready">
    <div class="list" ng-click="popover.remove()">

      <a class="item" ng-href="" ng-click="popover.remove();getMoments('StartTime');">
        {{'kMomentMenuByTime' | translate}}
        <i ng-if="::isChecked('kMomentMenuByTime')" class="ion-checkmark"></i>

      </a>

      <a class="item" ng-href="" ng-click="popover.remove();getMoments('monitorName');">{{'kMomentMenuByMonitor' |
        translate}}
        <i ng-if="::isChecked('kMomentMenuByMonitor')" class="ion-checkmark"></i>
      </a>


      <a class="item" ng-href="" ng-click="popover.remove();getMoments('MaxScore');">{{'kMomentMenuByScore' |
        translate}}
        <i ng-if="::isChecked('kMomentMenuByScore')" class="ion-checkmark"></i>
      </a>


    </div>
  </ion-content>
</ion-popover-view>
