
<div ng-controller="ModalCtrl">

   <!--style="background-color:#444444;width: 90%; height: 90%; top: 5%; left: 5%; right: 5%; bottom: 5%;"-->

    <ion-modal-view cache-view="false" style="background-color:#444444"  >
        <ion-content >
 <!-- <div style="background-color:red; color:white"> Modal Rand:{{$root.modalRand}} </div>-->
                <ion-scroll has-bouncing=false min-zoom=1 zooming="true"
                            direction="xy" style="width: 100%; ">
                    <!-- android needs this 100vh - otherwise max- does not work -->

                    <div style="height: 100vh;" class="main">
                           <div ng-if="$root.authSession!='undefined'">
                            <img imageonload="finishedLoadingImage()"
                                 image-spinner-loader="lines"
                                 image-spinner-src="{{LoginData.streamingurl}}/cgi-bin/nph-zms?mode=single&monitor={{monitorId}}&maxfps={{LoginData.maxFPS}}{{$root.authSession}}&rand={{$root.modalRand}}" ng-class="{'zm-image-fit':imageFit==true, 'zm-image-crop':imageFit==false}" on-swipe-left="onSwipeLeft(monitorId,-1)" on-swipe-right="onSwipeRight(monitorId,1)" />
                        </div>
                        <div ng-if="$root.authSession=='undefined'">
                            <img id="img-$index" ng-src="img/pausevideo.png" style="display:block;" 
                                 width="{{((devWidth)/(7-monitorSize[$index]))}}px;"/>
                        </div>
                    </div>
                </ion-scroll>
           <!--url: {{LoginData.streamingurl}}/cgi-bin/nph-zms?mode=single&amp;monitor={{monitorId}}&amp;maxfps={{LoginData.maxFPS}}&amp;{{$root.authSession}}&amp;rand={{$root.modalRand}}-->
        </ion-content>
  

        <div ng-show="isControllable=='1' && showPTZ">
            <div class="ptzcentered">
                <circular options="radialMenuOptions">
                </circular>
            </div>
        </div>


    </span>

    </ion-modal-view>
 <nav mfb-menu position="br" effect="zoomin" label="collapse" active-icon="ion-chevron-down" resting-icon="ion-chevron-up" toggling-method="click">
        <button mfb-button icon="ion-arrow-resize" label="fit image" ng-click="scaleImage();">
        </button>
        <button mfb-button icon="ion-refresh" label="refresh" ng-click="reloadView();">
        </button>
        <button mfb-button icon="ion-arrow-expand" label="pan/tilt/zoom" ng-click="togglePTZ();">
        </button>
        <button mfb-button icon="ion-close" label="exit live view" ng-click="closeModal();">
        </button>
    </nav>

    <span class="camera-icon">
        <a class="button icon ion-ios-camera button-positive" href="" ng-click="saveImageToPhone(monitorId)"></a>

</div>

