<ion-view title="Montage" cache-view="false" hide-nav-bar="{{minimal}}">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
        <button data-badge="{{$root.alarmCount}}" class="animated infinite tada button button-icon button-clear ion-ios-bell notification-badge" ng-click="handleAlarms();" ng-if="$root.isAlarm"></button>
    </ion-nav-buttons>


    <ion-nav-buttons side="right">
        <span class="rotate-button">
                <button class="button button-icon button-clear ion-arrow-swap"
                        ng-click="toggleReorder();">
                </button>
            </span>
        <button class="button button-icon button-clear ion-android-contract" ng-click="switchMinimal()">
        </button>
        <!--<button class="button button-icon ion-ios-help-outline" ng-click="popover.show($event)"></button>-->
    </ion-nav-buttons>

    <ion-content has-bouncing="false" style="background-color:#444444">

        <ion-refresher pulling-text="Pull to reload Monitors..." spinner="bubbles" on-refresh="doRefresh()">
        </ion-refresher>


        <span ng-show="!minimal">
                <div class="range range-positive">
                    <i style="color:#bbbbbb" class="icon ion-arrow-shrink"></i>
                    <input type="range" ng-model="slider.monsize" min="1"
                           max="6" ng-change="sliderChanged(slider.monsize)">
                    <i style="color:#bbbbbb" class="icon ion-arrow-expand"></i>

                </div>
        </span>


        <div class="wrapper">
            <span ng-repeat="monitor in MontageMonitors|limitTo: monLimit" ng-if="monitor.Monitor.Function!='None' && monitor.Monitor.listDisplay!='noshow'">
                
                <div  style="position:relative" >
                    
                   <span ng-show="!minimal">
                        <div style="width:{{((devWidth)/(7-monitorSize[$index]))}}px;white-space:nowrap;overflow:hidden; text-overflow:ellipsis">
                            <header id = "slowpulse" ng-class="monitor.Monitor.isAlarmed=='true'?'alarmed-header animated infinite flash':'header'">&nbsp;<i class="ion-monitor"></i>
                               {{monitor.Monitor.Name}}&nbsp;
                            </header>
                        </div>
                    </span>

            <article class="main">

                <!-- back to ng-src. spinner was not updating when rand changes-->
                <!-- moving to single so I can rely on rand for reloads -->

                <div ng-if="!isModalActive">
                    <div ng-if="$root.authSession!='undefined'">
                        <img id="img-$index" image-spinner-src="{{LoginData.streamingurl}}/nph-zms?mode=single&monitor={{monitor.Monitor.Id}}&scale={{LoginData.montageQuality}}{{$root.authSession}}&rand={{$root.rand}}" width="{{((devWidth)/(7-monitorSize[$index]))}}px;" ng-click="openModal(monitor.Monitor.Id, monitor.Monitor.Controllable, monitor.Monitor.ControlId)" style="display:block;" image-spinner-loader="lines" />

                    </div>

                    <div ng-if="!$root.authSession=='undefined'">
                        <img id="img-$index" ng-src="img/pausevideo.png" style="display:block;" width="{{((devWidth)/(7-monitorSize[$index]))}}px;" />
                    </div>

                </div>
                <div ng-if="isModalActive">
                    <img id="img-$index" ng-src="img/pausevideo.png" style="display:block;" width="{{((devWidth)/(7-monitorSize[$index]))}}px;" />
                </div>

            </article>

            <div id="slowpulse" ng-class="monitor.Monitor.isAlarmed=='true'?'minimized-alarmed-header animated infinite flash':''" ng-if="minimal"></div>

        </div>
        <!-- alarm flash -->

        </span>
        <!-- ngrepeat -->
        </div>
        <!--wrapper-->


        <ion-item ng-show="!MontageMonitors.length">
            No monitors to display.
        </ion-item>
    </ion-content>

    <div ng-show="minimal">
        <nav mfb-menu position="br" effect="zoomin" label="collapse" active-icon="ion-chevron-down" resting-icon="ion-chevron-up" toggling-method="click">

            <button mfb-button icon="ion-arrow-expand" label="increase size" ng-click="changeSize(1)">
            </button>
            <button mfb-button icon="ion-arrow-shrink" label="decrease size" ng-click="changeSize(-1)">
            </button>
            <button mfb-button icon="ion-refresh" label="refresh" ng-click="reloadView();">
            </button>
            <button mfb-button icon="ion-close" label="exit full screen" ng-click="switchMinimal()">
            </button>
        </nav>

        <span class="modal-alarm-badge">
            <a data-badge="{{$root.alarmCount}}" class="animated infinite tada button icon  ion-ios-bell notification-badge button-assertive" 
                    ng-click="handleAlarmsWhileMinimized();" ng-if="$root.isAlarm"></a>
        </span>

    </div>
    <br/>
</ion-view>