<ion-view title="Montage View" cache-view="false" hide-nav-bar="{{minimal}}">

    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>


    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-contract" ng-click="switchMinimal()"></button>
    </ion-nav-buttons>


    <ion-content padding="true">
        <div ng-controller="ModalCtrl">
            <ion-refresher pulling-text="Pull to reload Monitors..." spinner="bubbles" on-refresh="doRefresh()"></ion-refresher>
            <span ng-show="!minimal">
                <div class=" range range-positive">
                    <i class="icon ion-arrow-shrink"></i>

                    <input type="range" ng-model="slider.monsize" min="1" max="6" ng-change="sliderChanged()">
                    <i class="icon ion-arrow-expand"></i>

                </div>
        </span>

            <div class="wrapper">
                <span ng-repeat="monitor in monitors| limitTo: monLimit">

                <span ng-show="!minimal">
                    <header class="header">&nbsp;<i class="ion-monitor"></i>
                        {{monitor.Monitor.Name}}&nbsp;</header>
                </span>
                <article class="main">
                    <!-- FIXME: Scale is 50% hardcoded -->
                    <img ng-src="{{LoginData.streamingurl}}/cgi-bin/zms?mode=single&monitor={{monitor.Monitor.Id}}&maxfps={{LoginData.maxFPS}}&scale=50&user={{LoginData.username}}&pass={{LoginData.password}}&rand={{randomval}}" width="{{((devWidth-30)/(7-monitorSize[$index]))}}px;" ng-click="openModal(monitor.Monitor.Id, monitor.Monitor.Controllable, monitor.Monitor.ControlId)" on-hold="onHold($index)" on-release="onRelease($index)" />
                </article>

                <span ng-show="!minimal">
                    <span style="font-size:10px;">
                        <footer class="footer">

                       {{monitor.Monitor.Enabled=="1"?"Enabled":"Not Enabled"}}
                       &nbsp;
                           <span style="float:right">
                               <i class="icon ion-android-alert"></i>

                               :{{monitor.Monitor.Function}}
                            </span>
                </footer>
                </span>
                </span>
                </span>

                <div ng-show="minimal">
                    <br/>
                    <button class="button button-outline button-positive" ng-click="switchMinimal()">
                        exit full screen view
                    </button>
                </div>
            </div>
        </div>
        <!--ngcontroller -->


    </ion-content>
</ion-view>
