<ion-modal-view cache-view="false" style="width: 90%; height: 90%; top: 5%; left: 5%; right: 5%; bottom: 5%;">
  <ion-header-bar class="bar-stable">
    <h1 class="title"></h1>
    
    <div class="buttons">
      <button ng-class="(reorder.selected)?'button button-icon icon ion-eye-disabled':'button button-icon icon ion-eye'"  ng-click="selectUnselectAllToggleReorder()"></button>
      <button class="button button-small button-dark" ng-click="saveReorder()">{{'kButtonOk'|translate}}</button>
      <button class="button button-small" ng-click="cancelReorder()">{{'kButtonCancel'|translate}}</button>
    </div>
  </ion-header-bar>
  <ion-content class="notch-ready">
    <div class="list">
      <span ng-repeat="item in copyMontage">
        <a ng-class="{ 'item  item-avatar item-icon-right' :  item.Monitor.listDisplay == 'show', 'item  item-avatar item-icon-right eye-background-red' : item.Monitor.listDisplay!='show' }"
          ng-click="toggleHide($index)" href="">

          <img ng-src="{{reorderFrame(item)}}" fallback-src />

          <i ng-class="{'icon ion-eye':item.Monitor.listDisplay=='show','eye-red icon ion-eye-disabled':item.Monitor.listDisplay!='show'}">
          </i>
          <h2>
            <span ng-class="{'eye-red':item.Monitor.listDisplay!='show'}">{{item.Monitor.Name}}</span>
          </h2>
          <p>{{'kId' | translate}}:{{item.Monitor.Id}}, {{'kMode' | translate}}:{{item.Monitor.Function}}</p>

        </a>

      </span>
    </div>
  </ion-content>
</ion-modal-view>
