<ion-view view-title="{{'kSystemStatus' | translate}}" cache-view="false">

    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
        <button data-badge="{{$root.alarmCount}}" class="animated infinite tada button button-icon button-clear ion-ios-bell notification-badge" ng-click="handleAlarms();" ng-if="$root.isAlarm"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="{{'kPullToReload' | translate}}..."
                       spinner="bubbles" on-refresh="doRefresh()"></ion-refresher>
        <ion-list>
            <ion-item>
                <div class="row">
                    <div class="col col-10">
                        <i class="ion-home" style="font-size:150%;"></i>
                    </div>
                    <div class="col">
                        ZoneMinder:
                    </div>
                    <div class="col" style="text-align:right; {{color}}">
                        {{zmRun}}
                        <p>{{customState}}</p>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col col-10">
                        <i class="ion-arrow-graph-up-right" style="font-size:150%;"></i>
                    </div>
                    <div class="col">

                        ZoneMinder {{'kLoad' | translate}}:
                    </div>
                    <div class="col" style="text-align:right;">
                        {{zmLoad}}
                    </div>
                </div>
            </ion-item>
            <!--
            <ion-item>
                <div class="row">
                    <div class="col col-10">
                        <i class="ion-social-buffer" style="font-size:150%;"></i>
                    </div>
                    
                    <div class="col">

                        Disk Usage:
                    </div>
                    <div class="col" style="text-align:right;">
                        {{zmDisk}}
                    </div>
                </div>
            </ion-item>
            -->
            <ion-item>
                <button class="button button-full {{dangerButtonColor[showDanger?1:0]}}"
                        ng-click="showDanger=!showDanger">
                    <i class="ion-alert-circled" "style:font-size:300%;"></i> {{dangerText[showDanger?1:0]}}
                </button>

                <div ng-show="showDanger" >
                    <div class="row">
                        <div class="col text-center">
                            <a class="button button-small button-outline button-dark "
                               ng-click="selectCustomState();" href="">{{'kChangeState'|translate}}</a>
                            <a class="button  button-small button-outline button-dark "
                               ng-click="controlZM('restart');" href="">{{'kRestart' | translate}}</a>
                            <a class="button  button-small button-outline  button-dark"
                               href="" ng-click="controlZM('stop');">{{'kStop' | translate}}</a>
                            <a class="button  button-small button-outline button-dark" ng-click="controlZM('start');" href="">{{'kStart' | translate}}</a>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
