<ion-popover-view class="fit">
  <ion-content class="notch-ready">

    <div class="list" ng-click="popover.hide()">


      <a class="item" ng-href="" ng-click="popover.hide();toggleMinAlarmFrameCount();" ng-if="loginData.enableAlarmCount">{{'kShowAllEvents'
        | translate}}</a>
      <a class="item" ng-href="" ng-click="popover.hide();toggleMinAlarmFrameCount();" ng-if="!loginData.enableAlarmCount">
        {{'kShowAlarmedEvents' | translate}}</a>

        <a class="item" ng-href="" ng-click="popover.hide();toggleObjectDetectionFilter();" > <i ng-if="loginData.objectDetectionFilter" class="ion-record" style="color:green;">&nbsp;</i> {{'kShowObjectDetectionEvents'
          | translate}}</a>
          
      <a class="item" ng-href="" ng-click="popover.hide();buttonClicked(0);">{{'kMonth' | translate}}</a>
      <a class="item" ng-href="" ng-click=" popover.hide();buttonClicked(1);">
        {{'kWeek' | translate}}
      </a>
      <a class="item" ng-href="" ng-click="popover.hide();buttonClicked(2);">
        {{'kDay' | translate}}
      </a>
      <a class="item" ng-href="" ng-click="popover.hide();buttonClicked(3);">
        {{'kCustomRange' | translate}}
      </a>
    </div>
  </ion-content>
</ion-popover-view>
