

    <!-- style="width: 90%; height: 90%; top: 5%; left: 5%; right: 5%; bottom: 5%;"-->
    <ion-modal-view cache-view="false">
        <ion-content  ng-cloak on-double-tap="closeModal()" delegate-handle="timeline-modal-delegate">
<div ng-controller="TimelineModalCtrl" >   
    
           
            
    
            <br/>
            <center> <h5>Showing {{graphType}} frames of Event:{{eid}} </h5>
                <p>double-tap exits. touch/mouse-over and drag over bars to see frames</p>
                
                <!--<button class="button icon-left button-small  button-positive" style="z-index:999;bottom:2%;right:20px;position:absolute; opacity:0.7" ng-click="scrollUp()">
                <i class="ion-chevron-up"></i>
                </button>-->
                
                <button class="button icon-left button-small  button-positive" style="top:30px;right:20px;position:absolute; opacity:0.7" ng-click="switchType()"><i class="ion-shuffle"></i></button>
                
               {{errorDetails}}
                <!--<p>scroll left/right if needed</p>-->
                </center>
                
               <div style="padding-left:15px; padding-right:15px;">
                <div id="timeline-alarm-vis" ></div>
                   
                 <!--<canvas id="tc" tc-chartjs-bar chart-options="options" chart-data="data" auto-legend ng-if="dataReady" chart="tcchart" ng-click="chartClick($event)"></canvas>-->
                
                	
                   <!-- <ion-scroll direction="x" >
                    <div style="width:{{graphWidth}}px;">-->
                        <canvas id="tcchart"></canvas>
                    <!--</div>
                   </ion-scroll>-->
                   
                   
                   
                   
               </div>
                
    
              <ion-spinner icon="spiral" style="position:absolute; top:50%;left:50%" ng-if="!dataReady"></ion-spinner>     
    
            <div style="height:190px;">
                <!-- <ion-scroll direction="x"  class="wide-as-needed">-->
                        <span ng-repeat="alarm in alarm_images">
                               
                                
                            <figure style="display:inline-block">
                                <figcaption><small>f:{{alarm.fid}} scr:{{alarm.score}} @ {{alarm.time}}</small></figcaption>       
                                  <img  image-spinner-src="{{playbackURL}}/index.php?view=image&path={{alarm.relativePath}}{{alarm.fname}}&height=380"    style="width: auto; height: auto;max-width: 100%;max-height: 170px;"  on-tap="showImage(playbackURL,alarm.relativePath,alarm.fname, alarm.fid)"/>


                                </figure>

                        </span>

                <!--</ion-scroll>-->
            </div>
         </div>
        </ion-content>
        
    </ion-modal-view>




