<ion-popover-view class="fit">
        <ion-content>
          <div class="list" ng-click="popover.hide()">
            <a class="item" ng-href="" ng-click="popover.hide();buttonClicked(0);">Month</a>

            <a class="item" ng-href="" ng-click=" popover.hide();buttonClicked(1);" >
              Week
            </a>
            <a class="item" ng-href="" ng-click="popover.hide();buttonClicked(2);">
              Day
            </a>

              <a class="item" ng-href="" ng-click="popover.hide();buttonClicked(3);">
              Custom Range
            </a>

          </div>
        </ion-content>
      </ion-popover-view>

