<ion-view view-title="{{'kWizard' | translate}}" ng-cloak cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>
  <ion-content class="notch-ready" overflow-scroll="false">
    <wizard on-finish="finishedWizard()">
      <!-- portal url -->
      <wz-step wz-title="1" canexit="exitPortal">
        <h4> <i id="transition-delay" class="animated swing ion-wand" style="font-size:2em"></i> {{'kWelcomeWizard' | translate}}</h4>
        <img src="img/ninja.png" width="100px" style="float:left; padding:10px;" />
        <p>{{'kWizConfigPain' | translate}}</p>
        <h4>{{'kWizPortalUrl' | translate}}</h4>
        <label class="item item-input">
          <input id="testaut_portal_input" autocorrect="off" autocapitalize="none" autocomplete="off" type="text" placeholder="{{'kPortalUrlExample' | translate}}"
            ng-model="wizard.portalurl">
        </label>
        <p ng-if="$root.platformOS=='android'" style="font-size:0.8em; color:gray">{{'kDisableSamsung' | translate}}</p>
        <a class="button icon-left ion-information-circled button-clear button-dark" ng-click="toggleTip()">{{wizard.tiptext}}</a>
        <div class="wizardtip" ng-show="wizard.tipshow">
          <b>{{'kWizTip' | translate}}: </b>{{'kWizPortalTip' | translate}}
          <br />
          <img src="img/portalurl.png" width="30%">
        </div>
        <br />
        <button id = "testaut_wiz1_next_button" class="button button-small icon icon-right ion-chevron-right" wz-next>{{'kNext' | translate}}</button>
      </wz-step>
      <!-- auth mode -->
      <wz-step wz-title="2">
        <h4>{{'kWizPortalAuth' | translate}}</h4>
        <!--<img src="img/wizard.svg" width="100px" style="float:left"/>-->
        <p>{{'kWizPortalText' | translate}}</p>
        <ion-toggle id="testaut_useauth_toggle" ng-change="toggleAuth()" ng-model="wizard.useauth" toggle-class="toggle-calm">{{'kWizUseAuth' | translate}}</ion-toggle>
        <ion-toggle id="testaut_usezmauth_toggle" ng-show="wizard.useauth" ng-model="wizard.usezmauth" toggle-class="toggle-calm">{{'kWizZMAuth' | translate}}</ion-toggle>
        <div ng-if="wizard.usezmauth">
          <label class="item item-input item-floating-label">
            <span class="input-label">{{'kUserName' | translate}}</span>
            <input id="testaut_zmauthusername_input" autocorrect="off" autocapitalize="none" autocomplete="off" type="text" ng-model="wizard.zmuser"
              placeholder="{{'kPlaceHolderZMAuthUser'|translate}}"/>
          </label>
          <label class="item item-text-wrap item-input item-floating-label">
            <span class="input-label">{{'kPassword' | translate}}</span>
            <input id="testaut_zmauthpassword_input" type="password" ng-model="wizard.zmpassword" placeholder="{{'kPlaceHolderZMAuthPass'|translate}}"/>
            <!--<p >{{'kWizPasswdNote' | translate}}</p>-->
          </label>
        </div>
        <ion-toggle id="testaut_usebasicauth_toggle" ng-show="wizard.useauth" ng-model="wizard.usebasicauth" toggle-class="toggle-calm">{{'kWizBasicAuth' | translate}}
          <p ng-show="wizard.usebasicauth">{{'kWarningBasicAuth' | translate}}</p>
        </ion-toggle>

        <label class="item item-input item-floating-label" ng-show="wizard.usebasicauth">
          <span class="input-label">{{'kUserName' | translate}}</span>
          <input id="testaut_basicauthusername_input" autocorrect="off" autocapitalize="none" autocomplete="off" type="text" ng-model="wizard.basicuser"
            placeholder="{{'kPlaceHolderBasicAuthUser'|translate}}"/>
        </label>
        <label class="item item-input item-text-wrap item-floating-label" ng-show="wizard.usebasicauth">
          <span class="input-label">{{'kPassword' | translate}}</span>

          <input id="testaut_basicauthpassword_input" type="password" ng-model="wizard.basicpassword" placeholder="{{'kPlaceHolderBasicAuthPass'|translate}}"/>
          <p>{{'kWizPasswdNote' | translate}}</p>
        </label>
        <a class="button icon-left ion-information-circled button-clear button-dark" ng-click="toggleTip()">{{wizard.tiptext}}</a>
        <div class="wizardtip" ng-show="wizard.tipshow">
          <b>{{'kWizTip'| translate}} </b> {{'kWizAuthText1' | translate}}
          <br /> {{'kWizAuthText2' | translate}}
        </div>
        <br />
        <button class="button button-small icon icon-left ion-chevron-left" wz-previous>{{'kPrev' | translate}}</button>
        <button id="testaut_wiz2_next_button" class="button button-small icon icon-right ion-chevron-right" ng-click="exitAuth()">{{'kNext' | translate}}</button>
      </wz-step>
      <wz-step wz-title="3">
        <br />
        <br />
        <h4>{{'kWizResults' | translate}}</h4>
        <span id="testaut_wizard_portal_results" ng-if="wizard.portalValidText" ng-style="{'color':wizard.portalColor}">
          <i ng-class="wizard.portalColor=='#16a085' ? 'ion-checkmark-circled':'ion-close-circled'"></i>&nbsp;{{wizard.portalValidText}}
          <br />
        </span>
        <span id="testaut_wizard_api_results" ng-if="wizard.apiValidText" ng-style="{'color':wizard.apiColor}">
          <i ng-class=" wizard.apiColor=='#16a085' ? 'ion-checkmark-circled':'ion-close-circled'"></i>&nbsp;{{wizard.apiValidText}}
          <br />
        </span>
        <span ng-if="wizard.streamingValidText" ng-style="{'color':wizard.streamingColor}">
          <i ng-class="wizard.streamingColor=='#16a085' ? 'ion-checkmark-circled':'ion-close-circled'"></i>&nbsp;{{wizard.streamingValidText}}
          <br />
        </span>
        <br />
        <div class="wizardtip">
          {{'kWizNextStep1' | translate}}:
          <ul class="wiz-list">
            <li>{{'kWizNextStep2' | translate}}</li>
            <li>{{'kWizNextStep3' | translate}}</li>
          </ul>
        </div>
        <br />
        <br />
        <button class="button button-small icon icon-left ion-chevron-left" wz-previous>{{'kPrev' | translate}}</button>
        <button id = "testaut_wizard_goto_login" class="button button-small icon icon-right ion-chevron-right" ng-click="gotoLoginState()">{{'kWizGotoLogin' | translate}}</button>
      </wz-step>
    </wizard>
  </ion-content>
</ion-view>
