<ion-view view-title="{{$root.appName}}" hide-nav-bar="true" hide-back-button="true" cache-view="false">
  <ion-content class="pin-background notch-ready" scroll="false">
    <div style="margin-left:20px; margin-right:20px">
      <center>
        <br />
        <br />
        <div id="responsive-image">
          <img src="img/authlogo.png">
        </div>
        <div ng-if="pinPrompt">
          <span style="color:white">{{'kEnterPin' | translate}}</span>
          <div class="pinCode">
            <input id="pin-box" type="number" pattern="[0-9]*" ng-model="pindata.pin" ng-keyup="pinChange()" />
          </div>
          <br />
          <span style="color:white">{{pindata.status}}</span>
          <br />
          <button class="button  button-dark icon ion-unlocked" ng-click="unlock()"> Unlock
          </button>
        </div>
        <div id="really-your-fault" class="animated fadeIn" style="color:white">{{'kPortalNotice' | translate}}
          <br />
          <br />{{'kPortalNoticeSub' | translate}}</div>
      </center>
    </div>
  </ion-content>
</ion-view>
