# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

ionic.project
node_modules/
platforms/
release_files/
plugins/*
!plugins/fetch.json
engine/
/ionic.project
