<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625362857243-omm1ssa7k1g68sepi8lek7osdqrrnjos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625362857243-omm1ssa7k1g68sepi8lek7osdqrrnjos</string>
	<key>API_KEY</key>
	<string>AIzaSyBs2PsVAbkOkNijjc4rkAvsicVCdG419dg</string>
	<key>GCM_SENDER_ID</key>
	<string>625362857243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zoneminder.zmNinja</string>
	<key>PROJECT_ID</key>
	<string>zoneminder-ninja</string>
	<key>STORAGE_BUCKET</key>
	<string>zoneminder-ninja.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625362857243:ios:9778b21cbe7e12ced9f7be</string>
</dict>
</plist>
