<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>710936220256-mtpdflgn9euss9au2p4d9fd5u2bfjhc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710936220256-mtpdflgn9euss9au2p4d9fd5u2bfjhc9</string>
	<key>API_KEY</key>
	<string>AIzaSyAUNODMtdCNU6TpE3Xm8dNowHmSHnqQW24</string>
	<key>GCM_SENDER_ID</key>
	<string>710936220256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pliablepixels.zmninja-pro</string>
	<key>PROJECT_ID</key>
	<string>ninja-1105</string>
	<key>STORAGE_BUCKET</key>
	<string>ninja-1105.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710936220256:ios:b067cfb6eabdc840</string>
	<key>DATABASE_URL</key>
	<string>https://ninja-1105.firebaseio.com</string>
</dict>
</plist>
