<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.synconset.cordovaHTTP"
  version="0.1.4">

    <name>SSL Pinning</name>

    <description>
        Cordova / Phonegap plugin for communicating with HTTP servers using SSL pinning
	</description>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <dependency id="org.apache.cordova.file" url="https://github.com/apache/cordova-plugin-file" commit="r0.2.5" />

    <js-module src="www/cordovaHTTP.js" name="CordovaHttpPlugin">
        <clobbers target="plugins.CordovaHttpPlugin" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaHttpPlugin">
                <param name="ios-package" value="CordovaHttpPlugin"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CordovaHttpPlugin.h" />
        <source-file src="src/ios/CordovaHttpPlugin.m" />

        <header-file src="src/ios/HTTPManager.h" />
        <source-file src="src/ios/HTTPManager.m" />

        <header-file src="src/ios/TextResponseSerializer.h" />
        <source-file src="src/ios/TextResponseSerializer.m" />

        <header-file src="src/ios/AFNetworking/AFHTTPRequestOperation.h" />
        <source-file src="src/ios/AFNetworking/AFHTTPRequestOperation.m" />

        <header-file src="src/ios/AFNetworking/AFHTTPRequestOperationManager.h" />
        <source-file src="src/ios/AFNetworking/AFHTTPRequestOperationManager.m" />

        <header-file src="src/ios/AFNetworking/AFHTTPSessionManager.h" />
        <source-file src="src/ios/AFNetworking/AFHTTPSessionManager.m" />

        <header-file src="src/ios/AFNetworking/AFNetworking.h" />

        <header-file src="src/ios/AFNetworking/AFNetworkReachabilityManager.h" />
        <source-file src="src/ios/AFNetworking/AFNetworkReachabilityManager.m" />

        <header-file src="src/ios/AFNetworking/AFSecurityPolicy.h" />
        <source-file src="src/ios/AFNetworking/AFSecurityPolicy.m" />

        <header-file src="src/ios/AFNetworking/AFURLConnectionOperation.h" />
        <source-file src="src/ios/AFNetworking/AFURLConnectionOperation.m" />

        <header-file src="src/ios/AFNetworking/AFURLRequestSerialization.h" />
        <source-file src="src/ios/AFNetworking/AFURLRequestSerialization.m" />

        <header-file src="src/ios/AFNetworking/AFURLResponseSerialization.h" />
        <source-file src="src/ios/AFNetworking/AFURLResponseSerialization.m" />

        <header-file src="src/ios/AFNetworking/AFURLSessionManager.h" />
        <source-file src="src/ios/AFNetworking/AFURLSessionManager.m" />

        <framework src="Security.framework" />
        <framework src="SystemConfiguration.framework" />
    </platform>

    <!--android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CordovaHttpPlugin">
                <param name="android-package" value="com.synconset.CordovaHttpPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/com/synconset/CordovaHTTP/CordovaHttp.java" target-dir="src/com/synconset" />
        <source-file src="src/android/com/synconset/CordovaHTTP/CordovaHttpGet.java" target-dir="src/com/synconset" />
        <source-file src="src/android/com/synconset/CordovaHTTP/CordovaHttpPost.java" target-dir="src/com/synconset" />
        <source-file src="src/android/com/synconset/CordovaHTTP/CordovaHttpUpload.java" target-dir="src/com/synconset" />
        <source-file src="src/android/com/synconset/CordovaHTTP/CordovaHttpDownload.java" target-dir="src/com/synconset" />
        <source-file src="src/android/com/synconset/CordovaHTTP/CordovaHttpPlugin.java" target-dir="src/com/synconset" />
        <source-file src="src/android/com/synconset/CordovaHTTP/HttpRequest.java" target-dir="src/com/github/kevinsawicki/http" />
    </platform>
</plugin>
