<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-crosswalk-webview"
      version="1.2.0">

    <name>Crosswalk WebView Engine</name>
    <description>Changes the default WebView to CrossWalk</description>
    <license>Apache 2.0</license>
    <keywords>cordova,chromium,crosswalk,webview</keywords>
    <repo>https://github.com/MobileChromeApps/cordova-crosswalk-engine.git</repo>
    <issue>https://github.com/MobileChromeApps/cordova-crosswalk-engine/issues</issue>

    <engines>
      <engine name="cordova-android" version=">=4" />
      <engine name="cordova-plugman" version=">=4.2.0" /><!-- needed for gradleReference support -->
    </engines>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="webView" value="org.crosswalk.engine.XWalkWebViewEngine" />
        </config-file>

        <source-file src="src/android/XWalkWebViewEngine.java" target-dir="src/org/crosswalk/engine" />
        <source-file src="src/android/XWalkExposedJsApi.java" target-dir="src/org/crosswalk/engine" />
        <source-file src="src/android/XWalkCordovaResourceClient.java" target-dir="src/org/crosswalk/engine" />
        <source-file src="src/android/XWalkCordovaUiClient.java" target-dir="src/org/crosswalk/engine" />
        <source-file src="src/android/XWalkCordovaView.java" target-dir="src/org/crosswalk/engine" />
        <source-file src="src/android/XWalkCordovaCookieManager.java" target-dir="src/org/crosswalk/engine" />

        <framework src="src/android/xwalk.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
