


/* Using this for full screen modals for event and monitor mode */
.modal{
  top: 0 ;
  bottom: 0 ;
  left: 0 ;
  right: 0 ;
  width: 100% ;
}
/* I am using flexboxes to dynamicall adapt content
in montage view.
Credit: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    
    font-weight: normal;
    text-align: left;
    flex-wrap:wrap;

}

.wrapper > * {
    /*padding: 5px;*/
    /*flex: 1 100%; -- I commented this out - the wrapper was taking up full width in Chrome*/
}

.header {
    background: #DDDDDD;
    border-color: #CCCCCC;
     border-style: solid;
    border-width:1px;
}

.footer {
    background: #666666;
    border-color:#AAAAAA;
    color:#ffffff;
     border-width:1px;
    /*padding:2px;*/
}

.main {
    text-align: center;
    background: #EEEEEE;
    margin: 0px;
    padding: 0px;
    /*padding:2px;*/
}

.aside-1 {
    background: gold;
}

.aside-2 {
    background: hotpink;
}

/*@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
}*/

/* Not using this -eventually. Think notification badges on buttons */
.notification-badge{
  position: absolute;
  top: 3px;
  right: 0px;
  font-size: 8px;
}

.ptzcentered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
    transform: translate(-50%, -50%);
}

.eventprogress
{
    position:absolute;
    -webkit-transform: rotate(-90deg) translateY(-1000%);
    -webkit-transform-origin: 100% 0%;
    -moz-transform: rotate(-90deg);
    top: 50%;
    margin-top:-50px;
    left:100%;
    margin-left:-15px;
    z-index:10;
    width:100px;

}

.camera-icon
{
    position:absolute;
    bottom:20px;
    left:10px;
    z-index:10;
    opacity:0.7;
}


.events-range
{
    position:absolute;
    bottom:20px;
    left:30px;
    z-index:10;
    opacity:0.7;
    width:70%;
}


.events-range-modal
{
    position:absolute;
    bottom:60px;
    left:30px;
    z-index:10;
    opacity:0.7;
    width:70%;
}

.events-alarm-line
{

    position: relative;
    bottom: 1px;
    left: 0px;
    width: 100%;
    border-top: 1px solid black;

}

/* Styling of progress bar
http://www.useragentman.com/blog/2012/01/03/cross-browser-html5-progress-bars-in-depth/
*/

progress,          /* All HTML5 progress enabled browsers */
progress[role]     /* polyfill */
{

	/* Turns off styling - not usually needed, but good to know. */
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	/* gets rid of default border in Firefox and Opera. */
	border: none;

	/* Needs to be in here for Safari polyfill so background images work as expected. */
	background-size: auto;
    height:10px;

}

/* Polyfill */
progress[role]:after {
	background-image: none; /* removes default background from polyfill */
}

/* Ensure fallback text doesn't appear in polyfill */
progress[role] strong {
	display: none;
}

/* ----------------- progress background start ------------------*/
progress,                          /* Firefox  */
progress[role][aria-valuenow] {    /* Polyfill */
   background: #aaaaaa !important; /* !important is needed by the polyfill */
}

/* Chrome */
progress::-webkit-progress-bar {
    background: #aaaaaa;
}
/* ----------------- progress background start ------------------*/

/* ----------------- progress bar color start ------------------*/
/* IE10 */
progress {
    color: #f1a165;
}

/* Firefox */
progress::-moz-progress-bar {
    background: #f1a165;
}

/* Chrome */
progress::-webkit-progress-value {
    background: #f1a165;
}

/* Polyfill */
progress[aria-valuenow]:before  {
    background: #f1a165;
}
/* ----------------- progress bar color end ------------------*/


.rotate-button
{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}


.zm-image-fit
{
    max-width: 100%;
    max-height: 100%;
}

.zm-image-crop
{
    width:100%;
}


.list .item.item-accordion {
  line-height: 200px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 3s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

ul[rn-carousel] > li {
  position: relative;
  margin-left: -100%;
}

ul[rn-carousel] > li:first-child {
  margin-left: 0;
}

ul[rn-carousel] img {
  max-width: 100%;
}

.mySliderClass div.jslider-scale ins
{
    color:red;
    /*background-color:red;
    border-radius:5%;
    line-height:5px;*/
}

.mySliderClass div.jslider-value
{
    position:absolute;
    top:-25px;
    left:0;padding:1px 2px 0;
    background:#fff;font-size:9px;
    line-height:12px;
    white-space:nowrap;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px
}

/*
.bgimage {
    text-align:right;
    color:white;
    background-size:cover;
    height: 100%;
    background-position: center center;
}

ul[rn-carousel] {

    height:190px;
    width:190px;
    margin: 0 auto;
}

.carousel5 li {
    width:100%;
    height:100%;
    font-size:30px;
    background-color: #ccc;
}

.carousel-demo {
    margin-top:20px;
    display:inline-block;
    text-align: center;
}
.carousel-demo-fullscreen {
  width:100%;
  height:100%;
}
.carousel-demo-fullscreen ul[rn-carousel] {
  width:100%;
  height:100%;
}*/
